# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cpp text
*.h text
*.c text
*.qml text
*.js text
*.cmake text
CMakeLists.txt text

# Documentation
*.md text
*.txt text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary
*.7z binary

# Fonts
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
